body{
    text-align: center;
}
#customerInfo{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    gap: 20px;
}
input{
    height: 27px;
    border-radius: 6px;
  }
  #submit{
    background-color: rgb(0, 54, 232);
    color: white;
    border: none;
    border-radius: 6px;
    height: 30px;
    font-size: 18px;
  }
  #submit:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 54, 232);
    border: 1px solid rgb(0, 54, 232);
  }

  img{
    width: 100%;
    padding-top: 45%;
  }