*{
    margin: 0;
    padding: 0;
  }
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(27, 166, 2);
    color: aliceblue;
  }
  #menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  #menu a {
    margin: 0 15px;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
  }

  #item_count {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 94, 1);
    border-radius: 50%;
    margin-right: 20px;
    height: 35px;
    width: 35px;
  }

  #items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 10px 25px;
    margin-top: 25px;
  }
  #items>div{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* transition: transform 0.3s ease-in-out; */
    border-radius: 6px;
  }
  #items>div:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    /* transform: scale(1.02); */
  }
  .info{
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 10px;
    border-top: 1px solid rgb(216, 215, 215);
  }
  img{
    width: 100%;
    height: 275px;
  }
  
  button{
    border: none;
    background-color: rgb(255, 94, 1);
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right:15px;
    margin-left: 5px;
  }
  button:hover{
    background-color: aliceblue;
    color: rgb(255, 94, 1);
    border: 1px solid rgb(255, 94, 1);
  }

  .endDiv{
    display: flex;
    justify-content: space-between;
    margin: 1px;
  }

  #qty{
    font-size: 12px;
    border: 0.5px solid rgb(168, 168, 168);
    border-radius: 5px 0 0 5px ;
    color: #808080;
    background-color: #d1d1d1;
    padding: 2px 5px 2px 5px;
    height: 16px;
    margin-left: 10px;
  }

  #qtyDiv{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #qtyInp{
    border-radius: 0 5px 5px 0;
    border: none;
    padding: 1.8px 5px 2px 5px;
    height: 16px;
    border: 1px solid grey;
    width: 50px;
  }
  #qtyInp:focus{
    outline: none;
    border: 0.5px solid chartreuse;
    border-radius: 0;
  }

  @media (min-width: 320PX) and (max-width: 480PX) {
    body{
      width: 100%;
    }
    #navbar {
      width: 100%;
      padding: 10px;
    }
    #items {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      margin: 10px 5px;
    }
    #item_count {
      margin-right: 15px
    }
    img{
      width:95%;
      height: 200px;
    }
    button{
      width: 75px;
      padding: 3px;
      margin-bottom: 13px;
      margin-right:5px;
      margin-left: 10px;
    }
    #qtyInp{
      width: 30px;
    }
    .info{
      padding-top:5px;
    }
  #menu a {
    margin: 0 10px;
  }
}